
@import url('https://fonts.googleapis.com/css?family=Anton|Bangers|Caveat|Oswald|Titan+One|Yanone+Kaffeesatz&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.3s;
}
#D3Cube {
    width: 40px;
    height: 40px;
    top: 260px; 
    left: 48%;
    transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-45deg) rotateZ(0deg);
    margin: auto;
    position: absolute;
    transition: all 1.5s ease-in-out;
    animation: animate 2s ;
   
}
@keyframes animate
{
    0%{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
#D3Cube > div {
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
#side1 {
    transform: rotateX(90deg) translateX(0px) translateY(0px) translateZ(20px);
    background-color: white;
    box-shadow: inset 10px 10px 20px rgba(255,255,255,0.5);
}
#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(20px);
    background-color: lavender;
    box-shadow: inset 0px 10px 20px rgba(255,255,255,0.5);
}
#side3 {
    transform: translateX(0px) translateY(0px) translateZ(20px);
    background-color: #aaa;
    box-shadow: inset 10px 10px 20px rgba(255,255,255,0.5);
}
#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(20px);
    background-color: lightblue;
    box-shadow: inset 10px 10px 20px rgba(255,255,255,0.5);
}
#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(20px);
    background-color: lightsteelblue;
    box-shadow: inset 10px 10px 20px rgba(255,255,255,0.5);
}
#side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(20px);
    background-color:mediumorchid;
    box-shadow: inset 10px 10px 20px rgba(255,255,255,0.5);
}
#D3Cube:hover{
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}
nav .fa{
    display: none; 
 }
 .tab{
    
     margin-right: 30px;
     padding: 10px;
    border-radius: 50%;
 }
nav{
    z-index: 2;
    opacity: 0.98;
    font-family: sans-serif;
    width:100%;
    background:rgba(121, 44, 175, 0.9);
    height: 80px;
    position: fixed;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: end;
    box-shadow: 0 2px 40px;
}
nav ul{
    float: right;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    transition: 0.5s all;
}
nav a{
    text-decoration: none;
    margin: 3px 15px;
    color:rgb(235, 186, 233);
    padding: 2px 5px;
    border-radius: 3px;
}
nav a:hover
{
    color:black;
    background-color: plum;
}
.social{
    top: 580px;
    display: flex;
    position: absolute;
    color: rgba(255,255,255,0.5);
    justify-content: center;
    width: 80px;
    font-size: 30px;
    left: 47%;
}
.social a{
    color: rgba(255,255,255,0.5);
}
.social i{
   padding: 12px 14px;
    margin: 0 10px;
    border-radius: 3px;
    cursor: pointer;
  
}
.social i:hover{
    color:rgb(29, 75, 112);
    background-color: rgba(255,255,255,0.5);
}
.button{
    position: absolute;
    display:flex;
    width: 100%;
    margin: auto;
   justify-content: center;
    top:500px;
    z-index: 0;
}
@media (max-width:950px)
{
    nav .fa-bars{
        display:flex;
        color:snow;
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
        cursor: pointer;
        font-size: 30px;
    }
    .social{
        position: absolute;
        top: 680px;
        left:45%;
    }
    .tab:hover{
        background-color: slateblue;
    }
    nav ul{
        display: none;
    }
    .active{
        position: fixed;
        top: 84px;
        padding: 20px 50px;
        margin:0 5px;
        display: grid;
        background: inherit;
        border-radius: 3px;
    }
    .button{
        top: 580px;
    }
    nav a{
        margin-bottom: 50px;
        text-align: center;
        padding: 5px 40px;
    }
    .teamcontent{
      flex-wrap: wrap;
    }
}
#home,#about,#team,#service,#contact{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow-x: hidden;
    
}
#home{
    background-image: url(images/mountain1.jpg);
    background-size: cover;
    background-position: center center;
}
.para{
    width: 100%;
    min-width: 490px;
    padding: 310px 0 150% 0;
    display: grid;
    place-items: center;
    text-align:center;
    position: relative;
    background-color: rgba(0,0,0,0.7);
}
.para p{
    width: 70%;
    margin: auto;
    color: silver;
    font-size: 20px;
    font-family: Yanone Kaffeesatz;
}
.para h2{
    position: relative;
    font-size: 50px;
    color: #8473ea;
    font-family: Oswald;
    width: 500px;
    top: 0px;
    margin: auto;
}
h2{
    position: relative;
    font-size: 50px;
    color: rgba(0,0,0,0.7);
    font-family: Oswald;
    width: 100%;
    top:85px;
    margin: auto;
}
@media(max-width:490px){
    .para h2{
        font-size: 35px;
        right: 50px;
    }
    .para p{
        position: relative;
        right: 40px;
    }
     .social{
        position: absolute;
        left:40%;
    }
}
.button a{
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
    color: white;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 3px;
    background: rgb(235, 83, 28);
    border-style: none; 
}
#btn_2{
    background: rgba(0,0,0,0.3);
    border: 1px solid;
}
.button a:hover{
    box-shadow: inset 0px 0px 0 22px rgba(255,255,255,0.5);
    color: black;
    background-color: blueviolet;
    
}
#team{

    width: 95%;
   height: auto;
   min-height: 100vh;
    margin: auto;
}
.teamcontent{
    width: 100%;
    display: flex;
    margin-top: 140px;
    justify-content: center;
    place-items: center;
}
.nameplate{
   transition: 0.5s;
   width: 300px;
   height: 450px;
   background-color:palevioletred;
   margin: 0 10px;
   border-radius: 5px;
   margin-bottom: 6px;
}
.nameplate::after{
    content: "";
    display: flex;
    background-color: purple;
    position: relative;
    width: 100%;
    height: 180px;
}
#team h2{
    left: 50px;
    font-size: 35px;

}