*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    min-width: 290px ;
  
}
.gotoTop{
    opacity: 1 !important;
    z-index: 100 !important;
}
#clickTop{
    transition: 0.3s;
    opacity: 0;
    position: fixed;
    bottom: 3px;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.555);
}
#clickTop i{
    font-size: 25px;
    padding: 8px 16px;
    color: rgb(95, 191, 255);
}
.activeIntro{
    transition: 0.3s;
    animation: onloadA 1s ease-in-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
.content h2{
   animation: onloadA 0.8s ease-in-out forwards;
   animation-delay: 2.2s;
   opacity: 0;
}   
.content p{
    opacity: 0;
    animation: onloadA 0.8s ease-out forwards;
    animation-delay: 3s;
}
 .b-one{
    opacity: 0;
    animation: onloadA 0.8s ease-out forwards;
    animation-delay: 3.6s;
}.b-two{
    opacity: 0;
    animation: btnA 0.8s ease-out forwards;
    animation-delay: 4.3s;
   
}

@keyframes btnA{
    0%{
        opacity: 0;
        transform: translateX(80px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes onloadA{
    0%{
        opacity: 0;
        transform: translateX(-80px);
    }
     100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.tab{ 
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(102, 95, 95, 0.719);
}
.tab .fa:hover{
    transition: 0.3s ease;
    color: rgba(28, 56, 94, 0.493);
}
.tab .fa-times{
  display: none;
}

@media (min-width:769px){
    .tab .fa{
        display: none !important;
    }
    .tab a,img{
        float: right;
        width: 140px;
        margin: 3px 30px;
    }
    nav{
       
      position: absolute;
      top: 30px;
      left: 6%;
     
    }
    nav ul{
        list-style: none;
        display: flex;
    }
    
    nav ul a{
        color: rgb(138, 131, 131);
       margin-right: 3vw;
       text-decoration: none;
    }
    .main{
        position: absolute;
        top: 80px !important;
    }
}


ul a:hover{
    color: #454545;
}
.mainloader{z-index: 100;
    transition: 0.5s;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(103, 127, 155);
}
.loader{
    width: 10vw;
    height:10vw;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0,0.4);
    border-top: 5px solid rgb(255, 255, 255);
    animation: loader 1s infinite ease-in-out;
   
}

section{
    overflow-x: hidden;
    width: 100%;
}
.activeIntro{
    
    display: flex !important;
}
.introPart{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    height: 85vh;
    display: none;
    align-items: center;
    background-position: center !important;
    min-width: 290px;
    background-size: cover !important;
    min-height: 400px;
}
.content{
    overflow: hidden;
    float: left;
    color: #ffffff;
    padding-left: 10%;
    margin-left: 10px;
    width: 60%;
   font-size: 2.5vw;
}
.content p{
    font-size: 1.5vw;
    margin: 20px 0;
}

.button{
   font-size: 1.6vw;
}
.button *{
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    padding:2% 5%;
    border-radius: 500px;
    background-color: rgb(58, 58, 187);
}
.button *:hover{
    transition: 0.3s;
    background-color: rgb(83, 98, 233);
}

@keyframes loader {
    0% {
        transform: rotateZ(360deg);
    }
}
.arrow{
   color: rgb(255, 255, 255);
   margin-bottom: 8vw;
   cursor: pointer;
   z-index: 3;
}
.fa-chevron-right{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    padding: 25px;
    right: 0;
}
.fa-chevron-left{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    padding: 25px;
    left: 0;
}
.introSecond{
    background-color: rgb(236, 233, 236);
    align-items: center;
    padding: 100px 5% 50px 5%;
    display: flex ;
   
}.introText *{
    margin-bottom: 20px;
}
.introText{
   width: 50%;
   margin-right: 20px;
   font-size: 15px;
   display: block;
}
.introText h1{
    font-size: 35px;
    font-weight: 600;
   
}
.getStarted{
    cursor: pointer;
    font-size: 17px !important;
}
.getStarted i{
    color: #fff;
    background-color: rgb(47, 47, 100);
    font-size: 13px;
    padding: 3px 4px 3px 5px;
    margin:0 0 15px 10px;
    border-radius: 30px;
    position: relative;
    bottom: 2px;
}
.introSecond img{
   height: 100%;
   width: 50%;
}
.s2{
    text-align: center;
    padding: 80px 30px;
}
.s2 .text{
    max-width: 700px;
    padding: 20px 0;
    margin: auto;
}
.s2 .text h2{
    color: rgb(31, 88, 153);
    font-size: 33px;
}
.s2 .text p{
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 15px 0;
    line-height: 23px;
}
.Features{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1200px;
   margin: 0 auto;
}
.Features .feat{
    height: 320px;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feat:hover {
    background-color: rgba(221, 216, 216, 0.425);
    transition: 0.3s;
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.192);
}
.feat:hover + a{
    color: royalblue;
}
.feat i{
   font-size: 45px;
   color: rgb(112, 55, 138);
}
.feat h3{
    color: rgb(69, 84, 131);
    font-weight: normal;
    padding: 10px 0;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feat p{
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.5px;
    font-stretch: extra-expanded;
}
.feat h4 {
    font-size: 14px;
   
    font-weight: normal;
    margin-top: 25px;
   
}
.feat h4 a{
    color: rgb(112, 55, 138);
    text-decoration: none;
}
.s3{
    background-color: #313131;
}
.About{
    max-width: 85% !important;
    margin: auto;
    display: flex;
    padding: 70px 0px ;
   
}
.aboutone a{
    color: rgb(47, 144, 209) !important;
}
.About div{
    font-family: monospace !important;
    flex: 1;
    padding: 0 20px;
    min-width: 160px;
}
.About h2{
    font-size: 25px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 30px;
}
.About p{
    color: rgb(184, 186, 189);
    font-size: 0.85em;
    line-height: 23px;
    padding-bottom: 20px;
}
.About a{
    color: rgb(184, 186, 189);
    font-size: 0.85em;
    text-decoration: none;
    
}
.About ul li{
    margin-bottom: 25px;
    list-style: none !important;
}
.About a:hover{
    color: rgb(47, 144, 209);
}
.aboutfour i{
    font-size: 20px;
    color: rgb(47, 144, 209);
    margin-right: 9px;
}
.aboutfour a{
    display: flex;
}
footer{
    width: 100%;
    background-color: rgb(70, 69, 69);
    text-align: center;
    color: #ffffff;
    padding:30px 0;
}
footer p{
    font-size: 14px;
    word-spacing: 3px;
    margin-bottom: 20px;
}
footer div .fa{
    font-size: 15px;
    margin: auto 12px;
    cursor: pointer;
}
footer .fa:hover{
    color: rgb(47, 144, 209);
}
footer a{
    color: rgb(47, 144, 209);
    text-decoration: none;
}
@media (max-width:768px){
    .tab a,img{
        float: right;
        width: 120px;
        margin: 5px 25px 0 0;
    }
   nav ul{
       margin-left: 5%;
       font-family: Arial, Helvetica, sans-serif;
   }
    nav ul li,a{
      text-decoration: none;
      list-style: none;
      padding: 2px;
      border-radius: 5px;
      color:rgba(15, 15, 15, 0.63) ;
      margin: 2px 0;
    }
    ul a:hover{
        color: #454545;
    }
    .tab .fa{
      
        cursor: pointer;
        padding: 5px 10px;
        margin: 22px 0 20px 5%;
        font-size: 20px;
    }
    .mainloader{z-index: 100;
        transition: 0.5s;
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: grid;
        place-items: center;
        background-color: rgb(103, 127, 155);
    }
    .loader{
        width: 15vw;
        height:15vw;
        border-radius: 50%;
        border: 1vw solid rgb(0, 0, 0,0.4);
        border-top: 1vw solid rgb(255, 255, 255);
        animation: loader 1s infinite ease-in-out;
       
    }
    .main{
        position: relative;
        transform: translateY(-128px);
    }
    .activeIntro{
        display: flex !important;
    }
   .introPart{
        font-family: Arial, Helvetica, sans-serif;
        font-size:15px;
        height: 90vh;
        display: none;
        align-items: center;
        background-position: center !important;
        min-width: 290px;
        background-size: cover !important;
        min-height: 400px;
    }
    .content{
        overflow: hidden;
        float: left;
        color: #ffffff;
        margin-left: 5%;
        width: 60%;
    }
    .content h2{
        font-size: 06vw;
        margin-bottom: 5%;
    }
    .content p{
        font-size: 3vw;
    }
    

    .button{
        margin-top: 4vw;
        font-size: 2.8vw;
    }
    .button *{
        margin-right: 10px;
        cursor: pointer;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 500px;
        background-color: rgb(58, 58, 187);
    }
    .button *:hover{
        transition: 0.3s;
        background-color: rgb(83, 98, 233);
    }
    .introSecond{
       flex-direction: column;
       padding: 100px 8%;
     
    }
    .introText{
        width: 100%;
       
    }
    .introSecond img{
        margin: auto;
        width: 100%;
    }
    .Features{
        display: block;
       
    }
    .Features .feat{
        max-height: 280px;
        min-width: 300px;
    }
    .About{
        display: block ;
        margin-left: 10px;
    }
    .About div{
        margin-top: 40px;
    }
    @media (max-width:420px) {
        .content{
            margin:  auto;
            width: 100%;
            text-align: center;
            padding: 5vw;
         
        }
        .content h2{
            font-size: 35px;
        }
        .content p{
            font-size: 15px;
        }
        .button {
            margin-top: 50px;
            font-size: 16px;
            justify-content: center;
        }
        .activeIntro{
            height: 80vh;
        }
    } 
}
